.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.backBtn {
  background-color: #ffa6007c;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.backBtn:hover {
  background-color: #ffa500;
}

.movieWrapper {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

.img {
  width: 240px;
  height: auto;

}

.genreList {
  display: flex;
  gap: 4px;
}

.infoHeader {
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}