.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}

.backBtn {
  background-color: #ffa6007c;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.backBtn:hover {
  background-color: #ffa500;
}

.movieWrapper {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

.img {
  width: 240px;
  height: auto;
}

.genreList {
  display: flex;
  gap: 4px;
}